RemoteSystemsTempFiles/
.metadata/*
.recommenders/*
/build/*
/target/*
/bin/*
/Servers/*
/.settings/
.settings
.classpath
.project
*.class
*.war
*.log
.gitignore~
TI/.classpath
TI/.project
TI/target/
TI/.settings/
TI/bin/

Modulo/.classpath
Modulo/.project
Modulo/target/
Modulo/.settings/
Modulo/bin/

Web/.classpath
Web/.project
Web/target/
Web/.settings/
Web/bin/

